body {
  background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.card-text-formatter {
  height: 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  background: grey;
}

.loader {
  margin: 10rem 0 0 50%;
}

.form-error-msg {
  color: red;
}
